#include <dt-bindings/zmk/matrix_transform.h>

/ {
    /* Encoder derecho */
    right_encoder: encoder_right {
        compatible = "alps,ec11";

        a-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        b-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;

        steps = <80>;
    };
};